/*
Brand color codes:
orange => #ff7b02;
grey => #f6f6f6;
green => #76c353
*/
/*global style*/
*{

}
a:hover{
	text-decoration: none;
}

/*/global style*/
/*
###############################################################
						header
###############################################################
*/
.form-inline{
	width: 70%;
}
#loc-selector{
	width: 40%;
}

/*
###############################################################
						main menu
###############################################################
*/
#main-menu ul{
	background-color: #76c353;
}
#main-menu ul a{
	color: #fff;
}


/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}
.sr-only{
	color: #000;
}
/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
/*nav bar */
header .form-inline .btn{
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#search-bar{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    letter-spacing: -1px;
}
#main-menu .nav-item{
	border: .01em solid #fff;
}
/*
###############################################################
						slider
###############################################################
*/
.slide-footer{
	border-top: 1px solid rgba(0,0,0,.125);
	background-color:#39abf2;
	color: #fff;

}
.slide-title{
	color: #fff;
	font-size: 1.5em;
}
.discount-slider{
	font-size: 15px;
    font-weight: 600;
    line-height: 1.3em;
    text-decoration: none;
    padding: 1px;
    background-color: #fff;
    color: #ff7b02;
}
.btn-slide{
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

/*
###############################################################
						shop page deals loop
###############################################################
*/
.card-body{
	padding: .5rem;
}
.discount{
	padding: 3px 6px;
    font-size: 0.9375em;
    font-weight: 600;
    line-height: 1.3em;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff7b02; 
}
.img-hover-zoom {
  overflow: hidden;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.05);
}
.card-title{
    overflow-y: hidden;
    height: 2.5em;
    font-size: 1.0625em;
    line-height: 1.3em;
    font-weight: 600;

}
.card-title a{
	color: #333;
}
.card-text{
	overflow-y: hidden;
	height: 1.3em;
    font-size: 0.875em;
    line-height: 1.3em;
    color: #999;
}
.deal-location{
    padding: 3px 6px;
    font-size: 0.6875em;
    font-weight: 500;
    line-height: 1.3em;
    text-transform: uppercase;
    background-color: #f6f6f6;
}

.card-location a{
    color: #ff7b02;	
}
.card-price{
	
}
.old{
	color:  #bee1f7;
}
.deal-btn{
	border-radius: 0;
    padding: 5px 15px;
    background: #fff;
    color: #333;

}
.card-footer{
	background-color:#39abf2;
	color: #fff;
	text-transform: uppercase;
}

/*
###############################################################
						footor
###############################################################
*/
.footer{
	background-color: #999;
	color:#fff;
}
.footer a{
	color: #fff;
}
.footer-copyright{
	border-top: 1px solid grey;
}
/*
###############################################################
                     deal detail page
###############################################################
*/
.breadcrumb
{
    background-color: transparent;
}
.add-card-btn,.quick-btn{
    width: 100%;
}
.deal-desc{
    font-size: 13px;
}
.icon{
    border: 1px solid #c1c1c1;
    padding: .4em .7em;
}
.seller-info-blog{
    border: 1px solid #c1c1c1;
    margin-top: .5rem!important;
    padding: 1px;

}
.deal-title{
    height:  1.5em;
}
.deal-price-box{
    padding: .5em;
   border: 1px solid #e6e6e6; 
}
.deal-bought-box{
    background-color: #f6f6f6;
    padding: .5em;
}
.deal-bought-heading{
    color: #ff7b02
}
.deal-bought-lable{
    width: fit-content;
    margin: auto;
    padding: 2px 7px!important;
    margin-top: 6px!important;
    margin-bottom: 3px!important;
    font-weight: 500!important;
    line-height: 1.2em!important;
    text-transform: uppercase!important;
    color: #4f9938!important;
    border: 1px solid #cfcfcf!important;
    background-color: #fff!important;
    box-shadow: 0 4px 2px -2px #e4e4e4!important;

}
.deal-price{
    color: #000000;
    font-weight: 700;
    line-height: 1.05;
    font-size: 45px;
}
.deal-sale-price-box{
    background-color: #f6f6f6;
    webkit-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    -khtml-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    -moz-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
}
.deal-sale-price-box ul{
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}
.deal-sale-price-box ul li{
    border-right: 1px solid #eaeaea;
}
.deal-sale-price-box ul li:last-child{
    border: none;
}
.deal-sale-price-box ul li p{
    margin: 0;
    font-size: 1em;
    font-weight: 600;
    color: #000000;
}
.deal-sale-price-box ul li span{
    color: inherit;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
}